@model PulsNet.Web.Models.Device
@{
    ViewData["Title"] = "Create Device";
}
<div style="padding:24px">
    <h1>Create Device</h1>
    <form method="post">
        <div>
            <label>Client Name</label>
            <input name="ClientName" value="@Model.ClientName" />
        </div>
        <div>
            <label>Circuit Number</label>
            <input name="CircuitNumber" value="@Model.CircuitNumber" />
        </div>
        <div>
            <label>IP Address</label>
            <input name="IpAddress" value="@Model.IpAddress" />
        </div>
        <div>
            <label>SNMP Community</label>
            <input name="SnmpCommunity" value="@Model.SnmpCommunity" />
        </div>
        <div>
            <label>SNMP Port</label>
            <input name="SnmpPort" value="@Model.SnmpPort" type="number" />
        </div>
        <div>
            <label>Max Link (Mbps)</label>
            <input name="MaxLinkMbps" value="@Model.MaxLinkMbps" type="number" />
        </div>
        <button type="submit">Create</button>
    </form>
</div>